@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../base/base.scss';
@use '../base/typography.scss';

.download-btn {
    display: flex;
    padding: 0.4rem 0.6rem 0.4rem 1.2rem;
    align-items: center;
    gap: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid colors.$neutral-grey-soft;
    background: colors.$white;
    span {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.4rem; /* 160% */
        padding-right: 2.6rem;
        position: relative;
        &::after {
            position: absolute;
            width: 1.8rem;
            height: 1.8rem;
            top: 50%;
            transform: translateY(-50%);
            right: 0.3rem;
            background: url(/img/icon/ic-download.svg) no-repeat center center;
            content: "";
        }
    }
}

.btn-wrap {
    @include base.flex(space-between, center);
    margin-top: 0.5rem;
    padding: 4rem 0;
}
.btn {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 1.2rem 3rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease;
  cursor: pointer;
  &.sm {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 0.8rem 1.3rem;
    height: 4rem;
  }
  &:disabled {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    color: #999;
    cursor: not-allowed;
  }
}

// Filled type
.btn-primary {
  background-color: colors.$brand-blue-primary;
  color: white;
  border: none;

  &:hover,
  &:focus {
    background-color: colors.$brand-blue-hover;
  }

  &:active {
    background-color: colors.$brand-blue-active;
  }

  &.is-animating {
    box-shadow: 0 0 0 4px colors.$brand-blue-light;
  }
}

// Outlined type
.btn-secondary {
  background-color: white;
  border: 1px solid #767676;
  color: colors.$text-color-primary;

  &:hover,
  &:focus {
    border-color: colors.$brand-blue-hover;
    color: colors.$brand-blue-hover;
  }

  &:active {
    border-color: colors.$brand-blue-active;
    color: colors.$brand-blue-active;
  }

  &.is-animating {
    box-shadow: 0 0 0 4px colors.$brand-blue-light;
  }
}

.btn-third {
  background-color: white;
  border: 1px solid colors.$brand-blue-primary;
  color: colors.$brand-blue-primary;
  @include base.flex(space-between, center);
  gap: 0.4rem;
   &:hover,
  &:focus {
   background-color: colors.$brand-blue-hover;
  border-color: colors.$brand-blue-hover;
    color: colors.$white;
    .btn-icon {
      &.plus {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M8.75 7.25h4.5a.75.75 0 1 1 0 1.5h-4.5v4.5a.75.75 0 1 1-1.5 0v-4.5h-4.5a.75.75 0 0 1 0-1.5h4.5v-4.5a.75.75 0 0 1 1.5 0v4.5Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
    }
  }

  &:active {
    background-color: colors.$brand-blue-primary;
    border-color: colors.$brand-blue-primary;
    color: colors.$white;
    .btn-icon {
      &.plus {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M8.75 7.25h4.5a.75.75 0 1 1 0 1.5h-4.5v4.5a.75.75 0 1 1-1.5 0v-4.5h-4.5a.75.75 0 0 1 0-1.5h4.5v-4.5a.75.75 0 0 1 1.5 0v4.5Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
    }
  }

  &.is-animating {
    box-shadow: 0 0 0 4px colors.$brand-blue-light;
  }

  &:disabled {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    color: #999;
    cursor: not-allowed;
  }
  .btn-icon {
    width: 1.6rem;
    height: 1.6rem;
    

    &.plus {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%232970FF' fill-rule='evenodd' d='M8.75 7.25h4.5a.75.75 0 1 1 0 1.5h-4.5v4.5a.75.75 0 1 1-1.5 0v-4.5h-4.5a.75.75 0 0 1 0-1.5h4.5v-4.5a.75.75 0 0 1 1.5 0v4.5Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
    &.minus {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%23212121' fill-rule='evenodd' d='M14.333 8a.667.667 0 0 1-.666.667H2.333a.667.667 0 0 1 0-1.333h11.334c.368 0 .666.298.666.666Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
  }
}
.btn-fourth {
  background-color: white;
  border: 1px solid colors.$neutral-grey-soft;
  @include base.flex(space-between, center);
  gap: 0.4rem;
   &:hover,
  &:focus {
   background-color: colors.$fill-color-card-bg;
  }

  &:active {
    background-color: colors.$fill-color-card-bg;
  }

  &.is-animating {
    box-shadow: 0 0 0 4px colors.$background-color-light;
  }

  &:disabled {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    color: #999;
    cursor: not-allowed;
  }
  .btn-icon {
    width: 1.6rem;
    height: 1.6rem;
    
    &.minus {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='%23212121' fill-rule='evenodd' d='M14.333 8a.667.667 0 0 1-.666.667H2.333a.667.667 0 0 1 0-1.333h11.334c.368 0 .666.298.666.666Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }
  }
}


.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
  padding: 12px 16px;
  border-radius: 4px;     
  background: colors.$text-color-primary;
  color: colors.$white;
  font-size: 1.6rem;
  height: 4rem;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  &.no-mt {
    margin-top: 0;
  }
}

.btn-trash {    
    width: 1.6rem;
    height: 1.6rem;
    background: url(/img/icon/ic-trash.svg) no-repeat center center;
    display: inline-block;
    cursor: pointer;
}