@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../base/base.scss';
@use '../base/typography.scss';

// input table

// 1. 공통 input 스타일 정의
@mixin input-base {
  flex: 1;
  min-width: 0;
  width: 100%;
  max-width: 300px;
  height: 3.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  outline-width: 1px;
  outline-style: solid;
  background-color: colors.$white;

  &::placeholder {
    color: colors.$text-color-muted;
  }

  &:placeholder-shown {
    outline-color: colors.$neutral-grey-soft;
  }

  &:not(:placeholder-shown):not(:focus) {
    outline-color: colors.$text-color-primary;
  }

  &:focus {
    outline: 1.5px solid colors.$brand-blue-primary;
  }

  &:disabled {
    background-color: #e9ecef;
    outline-color: #ddd;
    cursor: not-allowed;
    color: #999;
  }

  &.form-input-narrow {
    width: 16.4rem;
  }

  &.search-input:focus {
    outline-width: 1px;
    outline-color: colors.$neutral-grey-soft;
    box-shadow: none;
  }

  &.max-auto {
    width: 100%;
    max-width: none;
  }
}


.input-group {
  display: flex;
  gap: 0.8rem;
  width: 100%;
}

input {
  @include input-base;
}

.input-table {
  .required {
    color: colors.$status-error;
  }

  .input-group {
    display: flex;
    gap: 0.8rem;
    width: 100%;
  }

  td {
    padding: 1.5rem 1.4rem;
    height: 3.8rem;

    input {
      @include input-base;
    }
    .textarea {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

  }

  .table_vertical_3 {
    th, td {
      width: 33.3%;
    }

    th {
      background-color: #F8F8F8;
      border-right: 1px solid #DDDDDD;

      &:last-child {
        border-right: none;
      }
    }

    td {
      border-right: 1px solid #DDDDDD;

      &:last-child {
        border-right: none;
      }

      textarea {
        border: 1px solid colors.$neutral-grey-soft;
      }
    }
  }
}






// 파일 첨부 
.file-input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
  max-width: 50rem;

  .file-display {
      flex-grow: 1;
      padding: 0.6rem 1.2rem;
      outline: 1px solid colors.$neutral-grey-soft!important;
      border-radius: .4rem;
      color: colors.$text-color-muted;
      height: 3.8rem;
      background-color: colors.$white;
  }

  .file-hidden {
      display: none;
  }
}

// 수정 불-가 상태
.view-mode {
    background-color: colors.$white !important;
    outline-width: 1px !important;
    outline-color: colors.$white !important;
    box-shadow: none !important;
    pointer-events: none; // 마우스 이벤트 차단
    cursor: default;
}

.textarea-large {
    width: 100%;
    height: 11rem;
    padding: 1rem 1.2rem;
    border-radius: 0.4rem;
    outline: 1px solid colors.$neutral-grey-soft;
    resize: vertical;

    &::placeholder {
        color: colors.$neutral-grey-soft;
    }

    &:focus {
        outline: 1.5px solid colors.$brand-blue-primary;
        border-color: transparent;
        box-shadow: none;
    }

    &:not(:placeholder-shown):not(:focus) {
      outline: 1px solid #212121;
}
}

.add_list {
    background-color: colors.$white;
    width: 100%;
    height: 11rem;
    padding: .4rem;
    border-radius: 0.4rem;
    outline: none;
    border: 1px solid colors.$neutral-grey-soft;
    resize: vertical;
    overflow-y: auto;
    .add_list_item {
        padding: 0.6rem 1.2rem;
        &:hover,
        &.active  {
          background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

//select-search 컴포넌트
.select-search {
  
  position: relative;
  width: 14rem;
  height: 3.8rem;
  border-radius: 0.4rem;
  border: 1px solid colors.$neutral-grey-soft;
  background: url('/img/icon/ic-select_arrow.svg') calc(100% - 7px) center no-repeat;
  background-size: 18px;
  background-color: colors.$white;
  cursor: pointer;

  &__label {
    background-color: colors.$white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 1.5rem;
    background: transparent;
    cursor: pointer;
    font-size: 1.6rem;
  }

  &__list {
    position: absolute;
    top: 3.9rem;
    left: 0;
    width: 100%;
    background-color: colors.$white;
    list-style: none;
    padding: 0;
    border-radius: 0.4rem;
    overflow: hidden;
    max-height: 0;

    // 스크롤 커스텀
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #303030;
      border-radius: 45px;
      &:hover {
        background: #303030;
      }
    }
  }

  &__item {
    padding: 0.5rem 1.5rem;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &.active {
    outline: 1.5px solid colors.$brand-blue-primary;
    border: none;
    .select-search__list {
      z-index: 10;
      max-height: 50rem;
      border-radius: 0 0 0.4rem 0.4rem ;
      box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    }
  }
}

//date-range 컴포넌트
.date-range {
    @include base.flex(space-between, center);
    gap: 0.8rem;
    

    .form-input {
      
        &.date-picker {
            width: 14rem;
            height: 3.8rem;
            padding: 0 1.2rem;
            font-size: 1.5rem;
            border-radius: 0.4rem;
            letter-spacing: -0.03rem;
            background: url('/img/icon/ic-calendar.svg') no-repeat right 1rem center;
            background-color: colors.$white;
            background-size: 1.6rem;
            cursor: pointer;
        }
    }
    .date-tilde {
        font-size: 1.4rem;
        color: colors.$text-color-quaternary;
    }
}


.flatpickr-calendar {
  font-family: 'Pretendard', sans-serif;
  border-radius: 0.8rem;
  box-shadow: 0 0 0 1px #ddd, 0 4px 16px rgba(0, 0, 0, 0.08);

  &::after, &::before {
    display: none;
  }


  .flatpickr-months {
    padding: 0.2rem;
    color: rgba(134, 144, 156, 0.60);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2rem; /* 181.818% */
  }

  .flatpickr-day {
    &.selected,
    &.today {
      background: colors.$brand-blue-highlight;
      color: #fff;
      border-radius: 999px;
    }
  }

  .flatpickr-weekday {
    font-weight: 500;
    color: #888;
  }

  .flatpickr-day:hover {
    background: rgba(0, 81, 255, 0.1);
  }
}
  .dayContainer {
    padding: 0;
    outline: 0;
    text-align: left;
  }


  //checkbox 
.checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkbox-mark {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid colors.$neutral-grey-light;
    border-radius: 0.4rem;
    background-color: #fff;
    transition: background 0.2s ease;
    display: inline-block;
    position: relative;
  }
 
  input[type="checkbox"]:checked + .checkbox-mark::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid colors.$white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked + .checkbox-mark {
    border-color: colors.$brand-blue-action;
    background-color: colors.$brand-blue-action;
  }

  .input-etc {
    margin-left: 0.8rem;
    padding: 0.4rem 0.8rem;
    outline: 1px solid colors.$neutral-grey-soft;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    line-height: 1.4;
    min-width: 10rem;
  }
}


// radio
.radio-group {
  display: flex;
  gap: 1rem;
}
.custom-radio {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .radio-mark {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid colors.$neutral-grey-light;
    border-radius: 50%;
    background-color: #fff;
    transition: background 0.2s ease, border-color 0.2s ease;
    display: inline-block;
    position: relative;
  }

  // ✅ checked 상태일 때
  input[type="radio"]:checked + .radio-mark {
    border-color: colors.$brand-blue-action;
    background-color: colors.$white;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.8rem; // 또는 8px
      height: 0.8rem;
      border-radius: 50%;
      background: colors.$brand-blue-action;
      transform: translate(-50%, -50%);
      display: block;
    }
  }
}


//숫자입력필드


.custom-number-wrap {
  display: flex;
  align-items: center;
  border: 1px solid colors.$neutral-grey-soft;
  border-radius: 0.4rem;
  background: colors.$white;
  width: 12rem;
  height: 4rem;
  overflow: hidden;
  position: relative;

  .custom-number-input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1.6rem;
    color: #333;
    outline: none;
    appearance: textfield;
    padding: 0 1.2rem; // 오른쪽 버튼 영역 확보

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  .btn-number-group {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid colors.$gray-icon;
    background: colors.$white;
    z-index: 1;

    .btn-number {
      width: 100%;
      height: 50%;
      border: none;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 0;

      &.plus {
        border-bottom: 1px solid colors.$gray-icon;
        background: url('/img/icon/ic-arrow-up.svg') no-repeat center center;
        background-size: 1.4rem 1.4rem;
      }
      &.minus {
        background: url('/img/icon/ic-arrow-down.svg') no-repeat center center;
        background-size: 1.2rem 1.2rem;
      }

      img {
        display: none;
      }
    }
  }
}

